html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    cursor: url(cur.png), auto;
}
header{
    display: block;
    position: fixed;
    height: 100%;
    width: 200px;
    left: 0%;
    background-image: url(bgnav.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 3px 0px 11px -4px #000000; 
    box-shadow: 3px 0px 11px -4px #000000;
}
.logo{
    width: 90%;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 4%;
    margin-right: 6%;
}
.bouttonnav{
    position: absolute;
    visibility: hidden;
    margin-top: 50px;
}
.barre{
    width: 60px;
    height: 6px;
    background-color: white;
    margin-top: 8px;
}
nav{
    width: 180px;
    margin-left: 10px;
    margin-top: 20%;
    z-index: 1;
}
ul{
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 0;
}
a{
    text-decoration: none;
    cursor: default;
}
li{
    font-family: arial;
    font-weight: bold;
    color: white;
    font-size: 16px;
    list-style: none;
    margin-top: 30%;
    margin-bottom: 10%;
}
li ul li{
    font-size: 14px;
    font-weight: lighter;
    margin-top: 10%;
    margin-bottom: 10%;
    cursor: default;
}
.calvados{
    background-color: transparent;
    color: white;
}
.calvados:hover{
   padding: 4px;
   background-color: #0B0B61;
   font-weight: bold;
   border-radius: 10px;
   text-shadow: black 2px 0 4px;
   transition-duration: 0.2s;
}
.cidredoux{
    background-color: transparent;
    color: white;
}
.cidredoux:hover{
   padding: 4px;
   background-color: #A8F5F3;
   font-weight: bold;
   border-radius: 10px;
   text-shadow: black 2px 0 4px;
   transition-duration: 0.2s;
}
.cidredemisec{
    background-color: transparent;
    color: white;
}
.cidredemisec:hover{
   padding: 4px;
   background-color: #F69E81;
   font-weight: bold;
   border-radius: 10px;
   text-shadow: black 2px 0 4px;
   transition-duration: 0.2s;
}
.cidrebrut{
    background-color: transparent;
    color: white;
}
.cidrebrut:hover{
   padding: 4px;
   background-color: #DE0100;
   font-weight: bold;
   border-radius: 10px;
   text-shadow: black 2px 0 4px;
   transition-duration: 0.2s;
}
.jusdepomme{
    background-color: transparent;
    color: white;
}
.jusdepomme:hover{
   padding: 5px;
   background-color: rgba(255, 255, 255, 0.3);
   font-weight: bold;
   border-radius: 10px;
   text-shadow: black 2px 0 4px;
   transition-duration: 0.2s;
}
.pictogamme{
    height: 40px;
}
.pictoplume{
    height: 30px;
    margin-left: -15px;
}
.accueil{
    margin-left: 200px;
    margin-right: 0;
    background-size: cover;
}
.accueil video{
    width: 100%;
    z-index: -1;
}
.gamme{
    margin-left: 200px;
    background-image: url(fondmotif2.jpg);
    background-size: cover;
    z-index: 3;
    text-align: center;
    margin-top: -28px;
    margin-bottom: -28px;
    }
.imggamme{
    width: 90%;
    margin-left: 5%; 
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    }
.txtgamme{
    font-family: arial;
    font-size: 30px;
    padding-top: 20px;
}
h1{
    font-family: arial;
    font-size: 16px;
}
.produitgamme{
    display: block;
    text-align: center;
}
.produitgammefantome{
    display: none;
    margin-right: 10%;
}
.produitgamme img{
    height: 500px;
    margin-bottom: 0px;
}
.produitgammefantome img{
    height: 0px;
    margin-bottom: 0px; 
}
button{
    width: 120px;
    font-family: arial;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
}
button:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    ;
}
.centbutton{
    width: 100%;
    text-align: center;
}
.produit{
    margin-left: 200px;
    height: 800px;
    display: flex;
    background-image: url(fondmotif.jpg);
    border-bottom: 1px solid white;
}
.description{
    width: 60%;
    padding: 50px;
    display: block;
}
.pproduit{
    width: 50%;
    margin-right: 50%;
}
.vousaussi{
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-top: 50px;
}
.titreficheproduit{
    font-family: arial;
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.imgclients{
    width: 90%;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    margin-top: 50px;
}
.imgclients img{
    height: 150px;
    border-radius: 10px;
}
.imgclients div{
    width: 250px;
    text-align: center;
}
.avisclient{
    font-family: arial;
    font-size: 16px;
    font-style: italic;
    width: 100%;
}
.imgproduit{
    width: 40%;
    text-align: center;
    margin-top: 50px;
}
.imgproduit img{
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.prix{
    font-family: arial;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 30px;
}
.venteferme{
    font-family: arial;
    font-size: 18px;
}
.bold{
    font-weight: bold;
}
.recevoir{
    width: 20%;
    margin-left: 40%;
    font-family: arial;
    font-size: 18px;
    padding-bottom: 50px;
    font-style: italic;
}
footer{
    display: flex;
    height: 150px;
    background-color: black;
    color: white;
    justify-content: space-between;
    justify-content: space-around;
}



@media screen and (max-width: 700px) {
    header{
        position: relative;
        width: 100%;
        height: 300px;
        text-align: center;
        box-shadow: none;
    }
    .montreheader{
        height: 750px;
    }
    .logo{
        margin: 0;
        margin-top: 30px;
        height: 150px;
        width: auto;
    }
    .bouttonnav{
        visibility: visible;
        left: 50%;
        top: 170px;
        transform: translateX(-50%);
        cursor: default;
    }
    .croix #barre1{
        transform: rotate(45deg);
        transition: 0.2s;
    }
    .croix #barre2{
        visibility: hidden;
    }
    .croix #barre3{
        transform: rotate(-45deg) translateY(-10px) translateX(10px);
        transition: 0.2s;
    }
    nav{
        width: 100%;
        display: flex;
        margin: 0;
        text-align: center;
    }
    .montrenav{
        margin-top: 50px;
    }
    ul{
        margin: 0;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        visibility: hidden;
    }
    .montreul{
        visibility: visible;
    }
    .montreul li{
        visibility: visible;
    }
    .montreul li ul li{
        margin: 20px;
    }
    .montreul .calvados:hover{
        padding: 0;
        background-color: transparent;
        font-weight: normal;
        border-radius: 0;
        text-shadow: transparent 0px 0 0px;
    }
    .montreul .cidredoux:hover{
        padding: 0;
        background-color: transparent;
        font-weight: normal;
        border-radius: 0;
        text-shadow: transparent 0px 0 0px;
    }
    .montreul .cidredemisec:hover{
        padding: 0;
        background-color: transparent;
        font-weight: normal;
        border-radius: 0;
        text-shadow: transparent 0px 0 0px;
    }
    .montreul .cidrebrut:hover{
        padding: 0;
        background-color: transparent;
        font-weight: normal;
        border-radius: 0;
        text-shadow: transparent 0px 0 0px;
    }
    .montreul .jusdepomme:hover{
        padding: 0;
        background-color: transparent;
        font-weight: normal;
        border-radius: 0;
        text-shadow: transparent 0px 0 0px;
    }
    li{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    li ul li{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .accueil{
        margin-left: 0px;
    }
    .gamme{
        margin-left: 0px;
        width: 100%;
        justify-content: initial;
    }
    .imggamme{
        width: 100%;
        margin-left: 0%;
        display: flex;
        overflow-x: auto;
    }
    .imggamme::-webkit-scrollbar {
       width: 0px;
    }
    .produitgamme{
        width: 100%;
        margin: 0;
        margin-right: 200px;
    }
    .produitgammefantome{
        display: block;
        opacity: 0;
    }
    .produitgamme img{
        height: 300px;
    }
    .recevoir{
        width: 80%;
        margin-left: 10%;
    }
    .produit{
        margin-left: 0px;
        height: 1570px;
        display: block;
        text-align: center;
    }
    .description{
        padding: 0px;
        width: 100%;
        padding-top: 10px;
    }
    .vousaussi{
        margin-top: 750px;
    }
    .imgclients{
        display: block;
        text-align: center;
        width: 100%;
    }
    .pproduit{
    width: 100%;
    }
    .imgproduit{
        width: 100%;
        margin-top: -1700px;
    }
    .imgproduit img{
        width: 60%;
        height: auto;
    }
}